/*-----------Barra-----------*/

.navbar{
    padding: 1rem;
    background-color: #0f3056d6;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
    
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.nav-link{
    font-size: 1.0rem;
    color: white;
    font-family: 'Press Start 2P', cursive
}

h1{
    font-size: 2.0rem;
    color: white;
    font-family: 'Press Start 2P', cursive;
     
}

.seccion-oscura{
    color:white;
    background-color: #0f3056d6;
}

.seccion-clara {
    color: black;
    background-color: white;
}

.seccion-titulo{
    font-size: 2rem;
    padding: 1.5px 0;
    font-family: "Press Start 2P", cursive;
}

.seccion-texto{
    font-size: 1.4rem;
}

/*-----Hero--------*/

.hero {
    background-color: #1b1b32;
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    padding: 4rem;
}

.hero-imagen-perfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}



.hero-principal h2 {
    font-size: 1.5rem;
    color:#ffffff ;
    font-family: 'Press Start 2P', cursive;
}


/*------------About me-------------*/
.sobre-mi {
    height: 500px;
    padding: 10px;
}

.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
}

/*Exp*/

.experiencia {
    padding: 40px 40px 60px 40px;
}

.experiencia i {
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
}
.experiencia .columna{
    padding: 20px;
    border: 2px solid #282845;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2 ease-in-out;
}

.experiencia .columna:hover{
    color: white;
    background-color: #282845;
}




.experiencia-titulo{
    font-size:25px;
    font-weight:bold;
    margin: 10px 0;
}

.badges-contenedor{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.badge {
    margin: 5px;
}

/*Icono responsivo*/
@media screen and (max-width:767px){
    .navbar-brand {
        display: none;
    }

}

@media screen and (min-widht:700px) {
    .hero-inferior-imagen{
        max-width: 600px;
    }
    
}